{% extends 'base.html' %}

{% block title %}My Bookshelf{% endblock %}

{% block header %}
<h1>My Bookshelf</h1>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Due Day</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {% for row in booklist %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}