{% extends 'base.html' %}

{% block title %}My Bookshelf{% endblock %}

{% block header %}
<h1>My Bookshelf</h1>
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Sub ID</th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Date Due for Return</th>
                <th>Return</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {% for book in booklist %}
            <tr>
                {% for item in book[:-1] %}
                <td>{{ item }}</td>
                {% endfor %}
                <td>
                    <a href="/return/{{ book['sub_id'] }}">
                        {% if book['time_left'] < 0 %}
                        <i class="far fa-frown"></i>
                        {% else %}
                        <i class="far fa-smile"></i>
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}