{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block header %}
<h1>Welcome, {{ name }}!</h1>
{% endblock %}

{% block content %}
<form action="/search" method="GET" role="form" class="form-horizontal">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="query" name="query" placeholder="Search">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Go</button>
        </div>
    </div>
</form>
{% endblock %}